/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/11/2019, 07:27:11
    Author     : root
*/
.jfxJEF:hover
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to right,#335769 90%,transparent);
    -fx-border-color: transparent;
}
.jfxJEF
{
    -fx-background-color:linear-gradient(to right,#3c667c 100%,transparent);
}
.jfxJEF:pressed, .jfxJEF:hover:pressed
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to right,#305263 90%,transparent);
    -fx-border-color: transparent;
}
.buttonbancJEF
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill:  #393838;
}
.buttonbancJEF:hover
{
    -fx-background-color: linear-gradient(to right,#d8e5f0 90%,transparent);
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}
.buttonbancJEF:pressed, .buttonbancJEF:hover:pressed
{
    -fx-background-color: linear-gradient(to right,#d8e5f0 90%,transparent);
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}