/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2019, 11:29:51
    Author     : root
*/

.button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #f5442c;
}
.button:hover
{
    -fx-background-color: linear-gradient(to right,#df3922 90%,transparent);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}
.button:pressed, .button:hover:pressed
{
    -fx-background-color: linear-gradient(to right,#df3922 90%,transparent);
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}
.icon
{
      -fx-background-color:transparent;
}
.icon:hover
{
      -fx-background-color:transparent;
}
.icon:pressed, .icon:pressed:hover
{
      -fx-background-color:transparent
          ;
}