/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/08/2019, 08:06:03
    Author     : Carlos Luan Rodrigues da Silva
*/
*
{
    -fx-primary:#2A2E37;
    -fx-secundary:  #3498db;
    -fx-primarytext: #FFFFFF; 
}


.radio-button
{
    -fx-background-color: -fx-primary;
}
.radio-button:focused
{
    -fx-background-radius: #c75a5a;
    -fx-background-fills: #c75a5a;
    -fx-background-insets: #c75a5a;

}
.radio-button:hover
{

}
.button{
    -fx-text-fill: -fx-primarytext;
}
.button:hover
{
    -fx-background-color: #3498db;
    -fx-text-fill: #2A2E37;
    -fx-border-color:#3498db;
}
.button:pressed, .button:hover:pressed
{
    -fx-background-color:#30669C;
    -fx-text-fill: #e7e7e7;
    -fx-border-color:#3498db;
}
.jfx-date-picker .jfx-text-field
{
    -jfx-unfocus-color: #FFFFFF;
    -fx-text-fill:#FFFFFF;
    -fx-prompt-text-fill:floralwhite;
    
}

.controlbanc
{
    -fx-background-color: linear-gradient(from 600px 1000px to 260px 200px, #d5e2e9,#72b4cf);
}
.paneBanck
{
    
    -fx-background-color: linear-gradient(to top,#3c667c 88%,#FFFFFF 15%);
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-radius:10;
}

.buttonbanc
{
    -fx-background-color: #3c667c;
    -fx-text-fill: #FFFFFF;
}
.buttonbanc:hover
{
    -fx-background-color: #335769;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}
.buttonbanc:pressed, .buttonbanc:hover:pressed
{
    -fx-background-color: #305263;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}
.login{
    -fx-border-color: #B2B2B2;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}
.login:hover{
    -fx-border-color: #B2B2B2;
    -fx-background-color:linear-gradient(from 50px 100px to 100px 100px,#d8e5f0 ,transparent);
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}
.login:pressed, .login:hover:pressed{
    -fx-background-color:linear-gradient(from 50px 100px to 100px 100px,#d8e5f5 ,transparent);
    -fx-text-fill: #393838;
    -fx-border-color: transparent;
}
.VF
{
    -fx-background-color:linear-gradient(to right,#497a3b 100%,transparent);
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
}
.VF:hover
{
    -fx-background-color:linear-gradient(to right,#3b6b2d 90%,transparent);
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
}
.VF:pressed, .VF:hover:pressed
{
    -fx-background-color:linear-gradient(to right,#416935 90%,transparent);
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent;
}
.text-input{
    -fx-text-fill: #000000;
}
.TextField{

    -fx-prompt-text-fill: #FFFFFF;
}
.jfx-text-area{
    -fx-prompt-text-fill: #ffffff;
    -fx-prompt-text-aligment: center;
    -fx-text-fill:#ffffff;
    -fx-text-alignment: center;

} 
.jfx:hover
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to right,#12345a 90%,transparent);
    -fx-border-color: transparent;
}
.jfx
{
    -fx-background-color:linear-gradient(to right,#1a4b82 100%,transparent);
}
.jfx:pressed, .jfx:hover:pressed
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(to right,#12345a 90%,transparent);
    -fx-border-color: transparent;
}
.icon
{
    -fx-background-color: transparent; 
}
.icon:hover
{
    -fx-background-color: transparent; 
}
.icon:pressed, icon:hover:pressed
{
    -fx-background-color: transparent; 
}