.jfx-tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    
}

.tab-pane .tab
{
    -fx-background-color: #3c667c;
}

.jfx-tab-pane .tab:selected, .tab:hover
{    
    -fx-background-color:   #2b5367;
}
.jfx-tab-pane .tab:hover
{    
    -fx-background-color:  #2b5367;
}
.jfx-tab-pane 
{
    -fx-background-color:linear-gradient(to top, #88b3c9 96%,#3c667c 10%);
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}
